# App configuration
# ==============================
# host of your app (localhost or 127.0.0.1 is default)
APP_HOST=127.0.0.1
# port of your app (8000 default)
APP_PORT=8000
# ==============================

# Auth settings
# ==============================
APP_SECRET_KEY=my-cool-secret-key
APP_ALGORITHM=HS256
APP_ACCESS_TOKEN_EXPIRE_MINUTES=15
# ==============================

# Db settings
# ==============================
DB_TYPE=postgresql
DB_HOST=localhost
DB_PORT=5432
DB_DRIVER=asyncpg
DB_USER=root
DB_USER_PASSWORD=root
DB_NAME=db_name
DB_ECHO=false
# ==============================
