section {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease-out;
    pointer-events: none;
}

section.visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

section.hidden {
    opacity: 0;
    transform: translateY(50px);
    pointer-events: none;
}

section.contacts {
    background-color: #fffdf6;
    padding-left: 10vh;
    padding-right: 10vh;
    padding-bottom: 5vh;
    font-family: "JoNova", sans-serif;
    color: #683c1a;
}

.titleContacts {
    position: relative;
    font-size: 3.5rem;
    font-weight: 700;
    color: #683c1a;
}

.contacts-content p {
    font-size: 1.3rem;
    margin: 6px 0;
}

.map-container {
    margin-top: 30px;
    border-radius: 16px;
    overflow: hidden;
    border: 1px solid #683c1a;
}
