header {
  background: #FFFDF6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

ul {
  list-style: none;
  margin: 0;
  display: flex;
  padding: 0px;
  gap: 30px;
}

li {
  display: inline;
}

a {
  font-weight: 700;
  color: #683C1A;
  text-decoration: none;
  font-size: 20px;
}

.cart-icon {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

@media (max-width: 600px) {
  header {
    padding: 10px 30px;
  }

  a {
    font-size: 17px;
  }

  .cart-icon {
    width: 25px;
    height: 25px;
  }
}