<!DOCTYPE html>
<html lang="ru">
<link rel="stylesheet" type="text/css" href="css/basket.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/fonts.css">
<link rel="stylesheet" type="text/css" href="css/header.css">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Овсяное печенье</title>
  <link rel="icon" type="image/png" href="icon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="icon/favicon.svg" />
  <link rel="shortcut icon" href="icon/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="icon/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="MyWebSite" />
  <link rel="manifest" href="/site.webmanifest" />
</head>

<body>
  <header class="header">
    <ul>
      <li><a href="index.html#main">Главная</a></li>
      <li><a href="index.html#catalog">Каталог</a></li>
      <li><a href="index.html#contacts">Контакты</a></li>
    </ul>
    <a href="basket.html">
      <img src="img/cart.svg" alt="корзина" class="cart-icon">
    </a>

  </header>
  <main>
    <h1 class="titleBasket">Корзина</h1>
    <section class="container">
      <div class="order-table">
        <table>
          <thead>
            <tr>
              <th>ТОВАР</th>
              <th>КОЛ-ВО</th>
              <th>ЦЕНА ЗА ШТ.</th>
              <th>СТОИМОСТЬ</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Хлеб</td>
              <td>2</td>
              <td>30 ₽</td>
              <td>60 ₽</td>
            </tr>
            <tr>
              <td>Молоко</td>
              <td>1</td>
              <td>50 ₽</td>
              <td>50 ₽</td>
            </tr>
            <tr>
              <td>Яблоки</td>
              <td>5</td>
              <td>20 ₽</td>
              <td>100 ₽</td>
            </tr>
          </tbody>
          <tfoot>
            <tr class="total">
              <td colspan="3">ИТОГО....................................</td>
              <td>210 ₽</td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="order-info">
        <h2>Информация к заказу:</h2>
      </div>
    </section>
  </main>

  <div class="footer">
    <a href="order.html">
      <button>ОФОРМИТЬ ЗАКАЗ</button>
    </a>
  </div>
</body>

</html>