<!DOCTYPE html>
<html lang="ru">
<link rel="stylesheet" type="text/css" href="css/ovsyanoe.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/fonts.css">
<link rel="stylesheet" type="text/css" href="css/header.css">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Овсяное печенье</title>
  <link rel="icon" type="image/png" href="icon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="icon/favicon.svg" />
  <link rel="shortcut icon" href="icon/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="icon/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="MyWebSite" />
  <link rel="manifest" href="/site.webmanifest" />
</head>

<body>
  <header class="header">
    <ul>
      <li><a href="index.html#main">Главная</a></li>
      <li><a href="index.html#catalog">Каталог</a></li>
      <li><a href="index.html#contacts">Контакты</a></li>
    </ul>
    <a href="basket.html">
      <img src="img/cart.svg" alt="корзина" class="cart-icon">
    </a>
  </header>

  <main class="main">
    <h1 class="titleProduct">Овсяное печенье</h1>
    <section class="container">
      <div class="left-part">
        <div class="product-photo">
          <img src="img/cookie.png" alt="Овсяное печенье">
        </div>
        <div class="product-description">
          <p><strong>Описание:</strong> текст текст текст текст текст текст текст текст текст текст
            текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст.</p>
          <p><strong>Состав:</strong> текст текст текст текст текст текст.</p>
        </div>
      </div>
      <div class="right-part">
        <div class="product-details">
          <h2>Цена за упаковку:</h2>
          <ul class="price-list">
            <li>
              <div class="price-text">300 гр – 350 руб</div>
              <div class="button-group">
                <button><img src="img/minus.svg" alt="-"></button>
                <span class="counter">1</span> <!-- Счетчик -->
                <button><img src="img/plus.svg" alt="+"></button>
              </div>
            </li>
            <li>
              <div class="price-text">500 гр – 450 руб</div>
              <div class="button-group">
                <button><img src="img/minus.svg" alt="-"></button>
                <span class="counter">1</span> <!-- Счетчик -->
                <button><img src="img/plus.svg" alt="+"></button>
              </div>
            </li>
            <li>
              <div class="price-text">1 кг – 700 руб</div>
              <div class="button-group">
                <button><img src="img/minus.svg" alt="-"></button>
                <span class="counter">1</span> <!-- Счетчик -->
                <button><img src="img/plus.svg" alt="+"></button>
              </div>
            </li>
          </ul>

          <button class="add-to-cart">Добавить в корзину</button>
          <p><strong>Пищевая ценность:</strong> </p>

          <div class="nutrients">
            <p>..... <strong>жиры</strong></p>
            <p>..... <strong>белки</strong></p>
            <p>..... <strong>углеводы</strong></p>
          </div>
        </div>
      </div>
    </section>
    <h2>Рекомендации:</h2>
    <section class="footer">
      <a href="ovsyanoe.html" class="product-card-link">
        <div class="product-card">
          <p class="product-title">Овсяное</p>
          <img src="img/cookie.png" alt="Овсяное печенье">
          <div class="product-info-row">
            <p class="product-info">от 350 руб</p>
            <img src="img/cart.svg" alt="в корзину" class="cart-icon">
          </div>
        </div>
      </a>
      <a href="ovsyanoe.html" class="product-card-link">
        <div class="product-card">
          <p class="product-title">Овсяное</p>
          <img src="img/cookie.png" alt="Овсяное печенье">
          <div class="product-info-row">
            <p class="product-info">от 350 руб</p>
            <img src="img/cart.svg" alt="в корзину" class="cart-icon">
          </div>
        </div>

      </a>
      <a href="ovsyanoe.html" class="product-card-link">
        <div class="product-card">
          <p class="product-title">Овсяное</p>
          <img src="img/cookie.png" alt="Овсяное печенье">
          <div class="product-info-row">
            <p class="product-info">от 350 руб</p>
            <img src="img/cart.svg" alt="в корзину" class="cart-icon">
          </div>
        </div>
      </a>
      <a href="ovsyanoe.html" class="product-card-link">
        <div class="product-card">
          <p class="product-title">Овсяное</p>
          <img src="img/cookie.png" alt="Овсяное печенье">
          <div class="product-info-row">
            <p class="product-info">от 350 руб</p>
            <img src="img/cart.svg" alt="в корзину" class="cart-icon">
          </div>
        </div>
      </a>
    </section>
  </main>
</body>

</html>